<h1 mat-dialog-title>Adicionar Apartamento </h1>

<div mat-dialog-content>

  <form [formGroup]="aptoForm">
    <mat-form-field class="input" appearance="outline">
      <mat-label># Apto </mat-label>
      <mat-select formControlName="numeroApartamento"  placeholder="Apto..." >
          <mat-option value="101">Apratmento 101</mat-option>
          <mat-option value="102">Apratmento 102</mat-option>
          <mat-option value="103">Apratmento 103</mat-option>
          <mat-option value="104">Apratmento 104</mat-option>
          <mat-option value="105">Apratmento 105 </mat-option>
          <mat-option value="106">Apratmento 106</mat-option>

          <mat-option value="201">Apratmento 201</mat-option>
          <mat-option value="202">Apratmento 202</mat-option>
          <mat-option value="203">Apratmento 203</mat-option>
          <mat-option value="204">Apratmento 204</mat-option>
          <mat-option value="205">Apratmento 205 </mat-option>
          <mat-option value="206">Apratmento 206</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- # de la Facultad  Column
      <mat-form-field class="input" appearance="outline">
        <mat-label> Cantidad de Becados</mat-label>
        <input matInput type="number" formControlName="cantBecados" placeholder="Escriba la cantidad de becados..">
      </mat-form-field>
    -->

    <mat-form-field class="input"  appearance="outline">
          <mat-label>Jefe</mat-label>
          <input matInput type="text" formControlName="nombreJefe"  placeholder="Escribe el nombre..">
    </mat-form-field>

      <mat-form-field class="input" appearance="outline">
          <mat-label> Capacidad </mat-label>
          <input matInput type="number" formControlName="capacidadApto" placeholder="Escriba la capacidad de becados..">
    </mat-form-field>

  </form>

</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>CLOSE</button>
  <button mat-raised-button color="primary" (click)="addApto()">{{actionButton}}</button>


</div>
