<div class="contenedorGrande">

<mat-toolbar class="toolbar" color="primary">
  <mat-toolbar-row>
    <mat-icon class="example-icon">verified_user</mat-icon>
    <span>Becados</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn" (click)="openDialog()"  >Add Becado</button>
  </mat-toolbar-row>
</mat-toolbar>


<div class="container">
  <div  style="margin-top: 10px;">
    <mat-form-field appearance="outline">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" matInput placeholder="Buscando..." #input>
    <mat-icon matSuffix>filter_alt</mat-icon>
  </mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table style="border-radius: 20px;"  [dataSource]="dataSource" matSort>

    <!-- Noombre Becado  Column -->
    <ng-container matColumnDef="nombreBecado">
      <th  class="title-table" mat-header-cell *matHeaderCellDef mat-sort-header >Nombre</th>
      <td mat-cell class="colum"  *matCellDef="let row"> {{row.nombreBecado}} </td>
    </ng-container>

    <!-- Numero de CI Column -->
    <ng-container matColumnDef="numeroCI" class="colum">
      <th class="title-table"  mat-header-cell *matHeaderCellDef mat-sort-header> Numero de CI </th>
      <td mat-cell class="colum"  *matCellDef="let row"> {{row.numeroCI}} </td>
    </ng-container>

    <!-- Nombre del Jefe Column -->
    <ng-container matColumnDef="ano">
      <th  class="title-table" mat-header-cell *matHeaderCellDef mat-sort-header>Año</th>
      <td mat-cell class="colum"  *matCellDef="let row"> {{row.ano}} </td>
    </ng-container>

      <!-- Capacidad-->
    <ng-container matColumnDef="evaluacion" >
      <th  class="title-table" mat-header-cell *matHeaderCellDef mat-sort-header> Evaluación </th>
      <td mat-cell class="colum" *matCellDef="let row"> {{row.evaluacion}}</td>
    </ng-container>



      <!-- Acciones Column -->

      <ng-container matColumnDef="Acciones">
      <th  class="title-table" mat-header-cell *matHeaderCellDef mat-sort-header> Acciones</th>

      <td mat-cell class="columaccion" *matCellDef="let row">
        <button (click)="editBecado(row)" mat-icon-button color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteBecado(row.id)" color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
  </div>
</div>






</div>
