example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.toolbar{
  min-width: 100%;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}



.container
{ width: 100%;
  margin: 0 auto;
  height: 100%;

}


.colum
{
  align-items: center;
}

.filter{
  position: absolute;
  display: flex;

}

.title-table{
  font-weight: 900;
}

.title-table:hover{
  background: #7c4dff;
  border-radius: 20px;
  overflow: hidden;
  color: #fff;
  font-weight: 900;
}

.mar-column-nombre{
  flex: 1 0 20%;

}
.mar-column-nombre{
  flex: 1 0 20%;

}
.mar-column-nombre{
  flex: 1 0 20%;

}

.toolbar{
  gap: 5px;
}
